table {
    border-collapse: collapse;
    margin: 30px;
}

th, td {
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-color: black;
    height: 50px;
    width: 50px;
}

th {
    background-color: lightblue;
}

td {
    background-color: white;
}