table {
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
}

th, td {
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

th {
    background-color: lightblue;
}

td {
    background-color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 99;
    bottom: 125%; /* Position above the text */
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.name {
    background-color: lightseagreen;
}

select {
    background-color: green;
    color: azure;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}