<!DOCTYPE html>
<html>

<head>
    <title>Today's Sports Games</title>
</head>
<body>
    <h1>Here are today's sports games around the league:</h1>

    <p><%= JSON.stringify(scores); %></p>
    
</body>
</html>