<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/image_styles.css">
        <link rel="stylesheet" href="../styles/generic.css">
        <title>Sports Data Home Page</title>
    </head>

    <body>
        <h1>Welcome to Sports Data!</h1>

        <h3>Choose a Sports League:</h3>
        <br>
        <div class = 'image-section'>

            <div id = "NFL-logo" class = 'logo'>
                <img src = '../images/nfl_logo.png' alt = 'NFL Logo'>
                <a href="http://localhost:8000/games?sport=football&league=nfl">Games</a>
                <a href="http://localhost:8000/teams?sport=football&league=nfl">Teams</a>
            </div>

            <div id = "NBA-logo" class = 'logo'>
                <img src = '../images/nba_logo.png' alt = 'NBA Logo'>
                <a href="http://localhost:8000/games?sport=basketball&league=nba">Games</a>
                <a href="http://localhost:8000/teams?sport=basketball&league=nba">Teams</a>
            </div>

            <div id = "MLB-logo" class = 'logo'>
                <img src = '../images/mlb_logo.png' alt = 'MLB Logo'>
                <a href="http://localhost:8000/games?sport=baseball&league=mlb">Games</a>
                <a href="http://localhost:8000/teams?sport=baseball&league=mlb">Teams</a>
            </div>

            <div id = "NHL-logo" class = 'logo'>
                <img src = '../images/nhl_logo.png' alt = 'NHL Logo'>
                <a href="http://localhost:8000/games?sport=hockey&league=nhl">Games</a>
                <a href="http://localhost:8000/teams?sport=hockey&league=nhl">Teams</a>
            </div>

        <script src="../../src/index.ts"></script>
    </body>
</html>