<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/home.css">
        <title>Sports Data Home Page</title>
    </head>

    <body>
        <h1>Welcome to Sports Data!</h1>

        <h3>Choose a Sports League:</h3>
        <br>

        <div class = "imageRow">
            <div id = "NFL-logo" class = 'logo'>
                <img src = '../images/nfl_logo.png' alt = 'NFL Logo'>
                <a href="http://localhost:8000/football/nfl/games">Games</a>
                <a href="http://localhost:8000/football/nfl/teams">Teams</a>
            </div>

            <div id = "NBA-logo" class = 'logo'>
                <img src = '../images/nba_logo.png' alt = 'NBA Logo'>
                <a href="http://localhost:8000/basketball/nba/games">Games</a>
                <a href="http://localhost:8000/basketball/nba/teams">Teams</a>
            </div>
        </div>

        <div class = "imageRow">
            <div id = "MLB-logo" class = 'logo'>
                <img src = '../images/mlb_logo.png' alt = 'MLB Logo'>
                <a href="http://localhost:8000/baseball/mlb/games">Games</a>
                <a href="http://localhost:8000/baseball/mlb/teams">Teams</a>
            </div>

            <div id = "NHL-logo" class = 'logo'>
                <img src = '../images/nhl_logo.png' alt = 'NHL Logo'>
                <a href="http://localhost:8000/hockey/nhl/games">Games</a>
                <a href="http://localhost:8000/hockey/nhl/teams">Teams</a>
            </div>
        </div>

        <script src="../../src/index.ts"></script>
    </body>
</html>