<img src = "../../images/mlb_logo.png" alt = "MLB Logo">

<% if (games.length == 0){ %>
    <h2>There are no games scheduled for today.</h2>
<% } else { %>

    <% for (int i = 0; i < games.length; i++){ %>
        <div>
            <table>
                <tr style="border-style: solid;">
                    <th>Team</th> <!--Team names-->
                    <th>1</th> <!--Innings 1-9-->
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>R</th> <!--total runs-->
                    <th>H</th> <!--total hits-->
                    <th>E</th> <!--total errors-->
                </tr>
                <tr>

                </tr>
                <tr>

                </tr>
            </table>
        </div>
    <% } %>
<% } %>