<img src="../../images/nhl_logo.png">

<% if (games.length == 0){ %>
    <h2>There are no games scheduled for today.</h2>
<% } else { 

    for (int i = 0; i < games.length; i++){ %>

        <div>
            <table>
                <tr>
                    <th>Teams</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>Goals</th>
                </tr>
                <tr>
                    <th>Power Play</th>
                </tr>
            </table>
        </div>

    <% } %>

<% } %>