@import "general_styles/general_styles.css";

#scheduleDiv {
    display: flex;
    flex-flow: row wrap;
}

.gameDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 5px;
    border-style: solid;
    border-color: black;
    height: 150px;
    width: 150px;
}

.opponentLogo {
    height: 70px;
    width: 70px;
}