@import "general_styles/general_styles.css";

.imageRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logo {
    height: 300px;
    width: 300px;
}

.leagueSection {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.linkSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}