@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

.teamLogo {
    height: 50px;
    width: 50px;
}

#basicStandingsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conferenceDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px
}

.teamTD {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#overallStandingsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#mainLogo {
    height: 20%;
    width: 20%;
}

.playoffTeam td {
    background-color: lightgreen;
}

.wildcardTeam td {
    background-color: lightyellow;
}

.nonplayoffTeam td {
    background-color: lightgray;
}