
.teamLogo {
    height: 50px;
    width: 50px;
}

.gamesLayout {
    display: flex;
    flex-flow: row wrap;
}

.gameContainer {
    display: flex;
    flex-direction: row;

    border-style: solid;
    border-color: black;

    margin: 20px;
}

.awayTeamDiv, .homeTeamDiv {
    margin: 5px;
    justify-content: center;
}

.gameTimeDiv {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}