@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";
@import "general_styles/form_styles.css";
@import "general_styles/select_styles.css";


.leastSorted {
    background-color: lightcoral;
}

.greatestSorted {
    background-color: lightgreen;
}

.tableDiv {
    overflow-x: auto;
}

h4 {
    text-align: center;
}