@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";
@import "general_styles/form_styles.css";
@import "general_styles/select_styles.css";

#mainLogo {
    height: 15%;
    width: 15%;
}

#titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.leastSorted {
    background-color: lightcoral;
}

.greatestSorted {
    background-color: lightgreen;
}

.tableDiv {
    overflow-x: auto;
}

h4 {
    text-align: center;
}