@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";


.leastSorted {
    background-color: lightcoral;
}

.greatestSorted {
    background-color: lightgreen;
}

.tableDiv {
    overflow-x: auto;
}