@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";
@import "general_styles/form_styles.css";
@import "general_styles/select_styles.css";

#leaderSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    height: 50px;
    width: 65px;
}

.teamLogo {
    height: 50px;
    width: 50px;
}

.catDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerName, .playerTeamLogo {
    text-align: center;
}