@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";
@import "general_styles/form_styles.css";

.teamLogo {
    height: 50px;
    width: 50px;
}

#standingsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#divisionStandingsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

.conferenceContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.scroll-container {
    overflow-x: auto;
}

.teamTD {
    display: flex;
    left: 0px;
    flex-direction: row;
    align-items: center;
    position: sticky;
    z-index: 2;
}

#overallStandingsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divisionDiv {
    margin: 20px;
    max-width: 800px;
}

#titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#mainLogo {
    max-height: 200px;
    max-width: 200px;
}

.divName {
    text-align: center;
}