@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

#leaderSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    height: 60px;
    width: 75px;
}

.teamLogo {
    height: 50px;
    width: 50px;
}

#mainLogo {
    height: 200px;
    width: 200px;
}

#titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}