@import "general_styles/general_styles.css";

.teamLogo {
    height: 50px;
    width: 50px;
}

.gamesLayout {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.sectionHeadline {
    background-color: lightgoldenrodyellow;
    border-top-style: solid; border-bottom-style: solid;
    border-top-color: lightgreen; border-bottom-color: lightgreen;
    border-top-width: 10px; border-bottom-width: 10px;
    text-align: center;
}

.gameContainer {
    display: flex;
    flex-direction: row;

    border-style: solid;
    border-color: black;
    background-color: lightblue;

    margin: 20px;
}

.awayTeamDiv, .homeTeamDiv, .gameTimeDiv {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.awayTeamDiv, .homeTeamDiv {
    font-family: 'Franklin Gothic Medium';
}

.gameTimeDiv {
    font-family: 'Arial Black';
    font-size: 15px;
}

#noGamesWarning {
    text-align: center;
    font-size: 75px;
}

.gameTimeDiv > p {
    margin: 5%;
}

#byeWeekSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.byeTeamsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}