@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

div {
    place-items: center;
}

#extraPlayerInfo {
    display: inline-flex;
}

#teamLogo {
    height: 60px;
    width: 60px;
}

#teamLogo h3 {
    display: block;
}

#headshot {
    height: 30%;
    width: 50%;
}