@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

#playerInfoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#extraPlayerInfo {
    display: inline-flex;
}

#teamLogo {
    height: 60px;
    width: 60px;
}

#teamLogo h3 {
    display: block;
}

#headshot {
    height: 200px;
    width: 250px;
}

h3, h1 {
    text-align: center;
}

#advancedStatsTables, #mainStats {
    display: flex;
    align-items: center;
    justify-content: center;
}