@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

#teamLogo {
    height: 200px;
    width: 200px;
}

.headshot {
    width: 145px;
    height: 100px;
}

#rosterDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
}
