@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

#teamLogo {
    height: 200px;
    width: 200px;
}

.headshot {
    width: 15%;
    height: 15%;
}

.altHeadshot {
    width: 15%;
    height: 15%;
}

#rosterDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#teamTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.injuredImg {
    width: 30px;
    height: 30px;
}
