#teamLogo {
    height: 100px;
    width: 100px;
}

.headshot {
    width: 75%;
    height: 100px;
}

table {
    margin-top: 50px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

tr {
    border-style: solid;
    border-color: black;
}

td {
    margin-left: 5px; margin-right: 5px;
}

#teamTitleDisplayDiv {
    display: flex;
    flex-flow: column;
    justify-content: center;
}