@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

#teamLogo {
    height: 200px;
    width: 200px;
}

.altHeadshot {
    width: 50px;
    height: 60px;
}

#rosterDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#teamTitleDiv {
    display: flex;
    flex-direction: row;
    background-color: azure;
    justify-content: center;
}

#teamTitleDiv > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px
}

.injuredImg {
    width: 50px;
    height: 50px;
}

.imgTD {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot {
    width: 70px;
    height: 50px;
}

.catDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
