#teamLogo {
    height: 100px;
    width: 100px;
}

.headshot {
    width: 75%;
    height: 100px;
}

table {
    margin-top: 50px;
    border-color: black;
    border-radius: 10%;
}

#teamTitleDisplayDiv {
    display: flex;
    flex-flow: column;
    justify-content: center;
}