@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

#overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 10px;
}

.teamOverview, #gameInfoOverview {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 33.333333%;
}

#gameInfoOverview {
    padding-top: 50px;
}

#boxscore, #leaderSection, #linescoreDiv {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

#linescoreDiv {
    align-items: center;
}

.teamLogo {
    padding-top: 25px;
    height: 200px;
    width: 200px;
}

#footballPossessionArrow {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.nameCol {
    width: 200px;
}

#awayTeamLeaders, #homeTeamLeaders {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leaderDiv {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.headshot {
    height: 100px;
    width: 135px;
}

.leaderDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    text-align: center;
}

.leaderDesc {
    font-size: 15px;
}

#buttonSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
    margin-top: 25px;
}

#homeTeamButton, #awayTeamButton {
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 3px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 3px;
    padding: 10px;
}

#playerStats {
    background-color: lightsalmon;
}

#homeTeamPlayerStats, #awayTeamPlayerStats {
    display: flex;
    flex-direction: column;
}

.tableDiv {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-left: 40px;
}

#homeTeamButton {
    background-color: lightgreen;
}

#awayTeamButton {
    background-color: lightsalmon;
}

.nonstarter {
    background-color: lightgray;
}

#footballInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#atBat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#atBat div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pitcherHeadshot, #batterHeadshot {
    height: 25px;
    width: 25px;
}

#score {
    font-size: 60px;
}

#status {
    text-align: center;
    font-size: 30px;
}

#live_status_img {
    height: 50px;
    width: 140px;
}