@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

#overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 10px;
}

.teamOverview, #gameInfoOverview {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33.333333%;
}

#gameInfoOverview {
    padding-top: 50px;
}

#boxscore, #leaderSection, #linescoreDiv {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

#linescoreDiv {
    align-items: center;
}

.teamLogo {
    padding-top: 25px;
    height: 150px;
    width: 150px;
}

#footballPossessionArrow {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.nameCol {
    width: 200px;
}

#awayTeamLeaders, #homeTeamLeaders {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leaderDiv {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-color: black;
    border-style: inset;
    border-width: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.headshot {
    height: 75px;
    width: 100px;
}

.leaderDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderDiv > h3 {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h2, h3 {
    text-align: center;
}

.leaderDesc {
    font-size: 20px;
}

#buttonSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 50px;
    margin-top: 25px;
}

#homeTeamButton, #awayTeamButton {
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 3px;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 3px;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 3px;
    padding: 10px;
}

#playerStats {
    background-color: #CCCC;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

#homeTeamPlayerStats, #awayTeamPlayerStats {
    display: flex;
    flex-direction: column;
}

.tableDiv {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    margin-left: 40px;
}

#homeTeamButton {
    background-color: lightgreen;
}

#awayTeamButton {
    background-color: #CCCC;
}

#footballInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#atBat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: azure;
    border-width: 1px;
    border-color: black;
    border-style: inset;
}

#pitcherHeadshot, #batterHeadshot {
    height: 70px;
    width: 90px;
}

#score {
    font-size: 60px;
}

#status {
    text-align: center;
    font-size: 30px;
}

#baseballScorebug {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#bases {
    height: 60px;
    width: 100px;
}

#outs {
    height: 30px;
    width: 60px;
}

#count {
    font-size: 20px;
}

.atBatPlayer {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startingPitchersDiv > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.SPDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    margin: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
}

.SPHeadshot {
    height: 75px;
    width: 100px;
}