table {
    border: 5px solid;
    border-style: solid ridge;
    border-color: darkslategray;
}

th {
    font-family: Impact, fantasy;
    font-weight: 100;
}

td {
    text-align: center;
    padding: 5px;
    background-color:lightgray;
    font-size: large;
}