@import "general_styles/general_styles.css";

.teamLogo {
    height: 100px;
    width: 100px;
}

#mainLogo {
    height: 10%;
    width: 10%;
}

#mainLogoContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#teamsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.displayedTeam {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
}