@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";
@import "general_styles/form_styles.css";
@import "general_styles/select_styles.css";

.tableDivide {
    overflow-x: auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.tableDivide > h4 {
    text-align: center;
}

#teamTitleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#teamTitleSection > img {
    height: 200px;
    width: 200px;
}

h1, h2, h3, h4 {
    text-align: center;
    z-index: 0;
}