@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

/* team_schedule styles */
#headlineDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#teamLogo {
    height: 200px;
    width: 200px;;
}

#scheduleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner {
    color: green;
}

.loser {
    color: red;
}

/* calendar styles */
.opponentLogo {
    height: 50px;
    width: 50px;
    margin-left: 23px;
}

.monthDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.weekDiv {
    display: flex;
    flex-direction: row;
}

.gameDay, .deadDay, .emptyDay {
    height: 125px;
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.gameDay :not(.dayNum) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dayNum {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.deadDay {
    background-color: darkgray;
}

.emptyDay {
    background-color: aliceblue;
}

.roadGame {
    background-color: lightcoral;
}

.homeGame {
    background-color: aqua;
}

.gameDay > h6 {
    margin-top: 0px;
    margin-bottom: 2px;
}

.gameDay > p {
    margin-bottom: auto;
}

.currentDay {
    background-color: gold;
}

/* for the regular football season */

.footballWeekDiv, .byeWeekDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-left: 25%;
    margin-right: 25%;
}

.gameSymbol {
    height: 40px;
    width: 40px;
    margin-right: 50px;
}

.footballTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
}

.footballTitleDiv > p {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.byeWeekDiv {
    background-color: azure;
}

.byeWeekDiv > h1 {
    margin-left: 70px;
}

.footballOpponentLogo {
    width: 75px;
    height: 75px;
}

.weekNum {
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin-left: 20px;
    margin-right: 70px;
}

.gameDetails {
    font-size: x-large;
}

/* for the postseason_series file */

.teamLogo {
    height: 50px;
    width: 50px;
}

.seriesDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h3, .seriesTitle {
    background-color: lightgoldenrodyellow;
    border-top-style: solid; border-bottom-style: solid;
    border-top-color: lightgreen; border-bottom-color: lightgreen;
    border-top-width: 10px; border-bottom-width: 10px;
    text-align: center;
}

.gameContainer {
    display: flex;
    flex-direction: row;

    border-style: solid;
    border-color: black;

    margin: 20px;
}

.awayTeamDiv, .homeTeamDiv, .gameTimeDiv {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.awayTeamDiv, .homeTeamDiv {
    font-family: 'Franklin Gothic Medium';
}

.gameTimeDiv {
    font-family: 'Arial Black';
}

.seriesResult {
    width: 100%;
    text-align: center;
}

.seriesOpponent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.seriesOpponent div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.seriesOpponent img {
    height: 70px;
    width: 70px;
}