@import "general_styles/general_styles.css";
@import "general_styles/table_styles.css";

.tableDivide {
    overflow-x: auto;
    width: 100%;
    padding-top: 50px;
}

.tableDivide > h4 {
    justify-content: center;
    align-items: center;
}

#teamTitleSection {
    justify-content: center;
    align-items: center;
}

#teamTitleSection > img {
    height: 200px;
    width: 200px;
}