
<div class="statsSection">

    <h3>Showing Stats for <%= %></h3>

    <div class="dataTable">

        <div id="rushing">
            <table>

            </table>
        </div>

        <div id="passing">
            <table>

            </table>
        </div>

        <div id="receiving">
            <table>

            </table>
        </div>

        <div id="defense">
            <table>

            </table>
        </div>

        <div id="rushing">
            <table>

            </table>
        </div>
    </div>
</div>