
<% data.results.stats.categories.forEach(category => { %>

    <div class="tableDivide">
        <h4><%= category.displayName %></h4>
        <table>
            <tr>
                <% category.stats.forEach(stat => { %>
                    <th><%= stat.abbreviation %></th>
                <% }) %>
            </tr>
            <tr>
                <% category.stats.forEach(stat => { %>
                    <td><%= stat.displayValue %></td>
                <% }) %>
            </tr>
        </table>
    </div>
<% }) %>
